<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
    <div class="container">
        <div class="display_details">
            <div class="heading">
            <h1>PERSON INFORMATION</h1>
        </div>
        <div class="content">
            <div class="infogrp">
                <p class="id">First Name :</p>
                <p class="value">Harshil</p>
            </div>
            <div class="infogrp">
                <p class="id">Last Name :</p>
                <p class="value">Munjapara</p>
            </div>
            <div class="infogrp">
                <p class="id">Contact :</p>
                <p class="value">1234567891</p>
            </div>
            <div class="infogrp">
                <p class="id">State :</p>
                <p class="value">Maharashtra</p>
            </div>
            <div class="infogrp">
                <p class="id">City :</p>
                <p class="value">Pune</p>
            </div>
            <div class="infogrp">
                <p class="id">Native :</p>
                <p class="value">hello</p>
            </div>
            <div class="infogrp">
                <p class="id">Sex :</p>
                <p class="value">Female</p>
            </div>
                        
        </div>
        </div>

        <div class="gallery">
          <div class="gallery__item gallery__item--hor">
            <img src="https://source.unsplash.com/random/500x500" alt="">
          </div>
          <div class="gallery__item">
            <img src="https://source.unsplash.com/collection/190727/300x300" alt="">
          </div>
          <div class="gallery__item">
            <img src="https://source.unsplash.com/user/erondu/600x600" alt="">
          </div>
          <div class="gallery__item gallery__item--vert">
            <img src="https://source.unsplash.com/user/timmarshall/300x300" alt="">
          </div>
          <div class="gallery__item gallery__item--lg">
            <img src="https://source.unsplash.com/user/randomlies/300x300" alt="">
          </div>
          <div class="gallery__item">
            <img src="https://source.unsplash.com/user/joannecaselynsuarez/300x300" alt="">
          </div>
          <div class="gallery__item">
            <img src="https://source.unsplash.com/user/liamsimpson/600x600" alt="">
          </div>
          <div class="gallery__item">
            <img src="https://source.unsplash.com/user/stephanvancephoto/300x300" alt="">
          </div>
          <div class="gallery__item">
            <img src="https://source.unsplash.com/user/beataratuszniak/300x300" alt="">
          </div>
          <div class="gallery__item">
            <img src="https://source.unsplash.com/user/tonill/300x300" alt="">
          </div>
      <!--<div class="gallery__item">
            <img src="https://source.unsplash.com/user/rawpixel/300x300" alt="">
          </div>
          <div class="gallery__item">
            <img src="https://source.unsplash.com/user/atlasior/300x300" alt="">
          </div> -->
        </div>
      </div>
</html>